/* 2 use id u have 2 use da # not da . */
body {
  margin: auto;
  min-height: 40px;
  margin-top: 5%;
  background-color: #FF7878;
  text-align: center;

}
html {
  font-family: "Verdana",sans-serif;
  background-color: #FF7878;
  text-align: center;
  width: 100%;
}

hr {
  border-style: dotted none none;
  border-color: #006400;
  border-width: 3px;
  width: 6%;
 }

h1 {
  font-size: 70px;
  margin-top: 50px;
text-align: center;
  color: #3E7C17;
}

h2 {
  color: #006400;
  text-align: center;
 }

h3 {
  color: #006400;
  text-align: center;
 }
 p {
   line-height: 2;
 }
 .container{
   padding-top: 2%;
   width: 100%;
 }

.modern {
  height: 20px;
  border-bottom: 1px solid transparent;
}
 .mordern a {
   color: #006400;
   text-decoration: none;
   transition: color 1s;
   margin: auto 5px 5px;
   text-align: center;
 }
 .mordern a:hover {
   color: black;
 }
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
  padding-left: 300px;


}
/* margin auto 15px makes space */
.nav-link-wrapper a {
  color: #006400;
  text-decoration: none;
  transition: color 1s;
  margin: auto 15px;
  padding-left: 15px;

}
.nav-link-wrapper:hover{
  border-bottom: 1px black;
}
.nav-link-wrapper a:hover{
  color: black;
}

.mod-pic{
  margin-bottom: 50px;
}


.ibrahim{
  float: right;
  margin: 15px;
}
.abdullah{
  float: left;
  margin: 15px;
}
.yusuf{
  float: right;
  margin: 15px;
}
.rightpic{
  float: left;
  margin: 15px;
  height: 500px;
}
.leftpic{
  float: right;
  margin: 15px;
}
.row{
  text-align: center;
}
.main-header{
  text-align: center;
}
.wear{
  text-align: center;
}
.email{
  text-align: center;
}
/* how you can move items around is wit da margin  u can also move items with z-index: 1 or 2 n so on or a neg number*/

.carousel-item{
  width: 25%;
  margin: auto 35%;
}

.big{
  width: 80%;
}

.flag{
  color: #006400;
  margin-bottom: 50px;
  width: 100%;
}

.straight-line{
  display: flex;
  justify-content: space-between;
}
.murabit{
text-align: center;
padding-top: 3%;
}


.store a{
  color: #006400;
  text-decoration: none;
  transition: color 1s;
  margin: auto 15px;
  padding: 2% 2%;
}
.store:hover{
  border-bottom: 1px black;
}
.store a:hover{
  color: black;
}
.button{
  padding: 1% 1%;
}
.button:hover{
  color: #71DFE7;
  transition: color 1s;
  margin-top: 2px;
}
.burn{
  color: #006400;
}
.drea{
  padding-bottom: 5%;

}
.bear{
  margin-bottom: 50px;
  text-align: center;
}
.mod-pic{
  width: auto;
}
.ankh{
color: white;
width: 100%;
}
.kaaba{
color: #CC0033;
width: 100%;
}
.cross{
  color: #006633;
  width: 100%;
}
.om{
  color: #FFFF33;
  width: 100%;

  text-align: center;
}
.star{
color: white;
width: 100%;
}
.david{
  color: #000066;
  width: 100%;
}
.gate{
  color: #CC0033;
  width: 100%;
}
@media screen and (max-width:959px)  {
  .container{
    width: 100%;
  }
  .nav-wrapper{
    width: 100%;
  }
}
@media screen and (max-width:640px)  {
  .container {
    width: 100%;
  }

  body img {
    max-width: 100%;
    padding-left: 5%;
  }
  .nav-wrapper{
    width: 100%;
  }
  .mod-pic{
    width: auto;
  }
  body{
    padding-left: 3%;
  }
}
